.autores{
    font-size: 13px;
    line-height: 1.24;
    color: #777774;
}
a:link{
    color: #1a0dab;
}
.centered-post-image{
    margin: 0 auto;
    display: block;
}
.utterances {
    max-width: 100%;
}
.image-profile{
    border-radius: 50%;
    width: 200px;
}